<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- Definition of Servlet -->
<servlet>
	<servlet-name>europeanaMusicServlet</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/servlet-config.xml</param-value>
	</init-param>
</servlet>

	<!-- added during meeting -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!--  Routing to a servlet -->
	<servlet-mapping>
		<!-- Exact same name as in servlet/servlet-name -->
		<servlet-name>europeanaMusicServlet</servlet-name>
		<!-- what file extension are we going to expecto for DispatcherServlet -->
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	<!-- error page
	  <error-page>  
		  <exception-type>java.lang.Exception</exception-type>  
		  <location>/WEB-INF/jsp/errorPage.jsp</location>  
	  </error-page> -->
	 <error-page>  
  		<error-code>404</error-code>  
  		<location>/WEB-INF/jsp/errorPage.jsp</location>  
  	</error-page>

  <display-name>Archetype Created Web Application</display-name>
</web-app>


